@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Regular.woff2);
  font-weight: Regular;
}
@font-face {
	font-family: "OpenSans";
	src: url(../fonts/OpenSans-Bold.woff2);
  font-weight: Bold;
}
/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 


html {
  font-size: 100%;
}

/*page code*/
/*header*/

.visually-hidden_m {
  display: none;
}

.header {
  background-color: #87cefa;
  min-height: 450px;
  max-width: 100%;
  /* border: 4px solid rgba(211, 220, 50, .6); */
  position: relative;
  /* display: flex; */
  padding: 0;

}

.header::before {
  content:'';
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  opacity: 0.4;
  z-index: 0;
}


 .body__header__left {
  /* max-width: 640px; */
  height: 450px;
  width: 30%;
  background-image: url(../img/m_h_fon_left.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  position: relative;
  display: none;
  margin: -1px;
  box-sizing: border-box;
  
}

.body__header__center {
  /* max-width: 640px; */
  height: 450px;
  background-image: url(../img/m_h_fon.png);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 1;
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.body__header__right {
  /* max-width: 640px; */
  height: 450px;
  width: calc( 30% - 5px);
  background-image: url(../img/m_h_fon_right.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  position: relative;
  display: none;
  margin: -1px;;
  box-sizing: border-box;
}

/*menu*/
.burger-menu {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}

.burger-menu::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: whitesmoke;
  position: absolute;
}
.burger-center-line{
  width: 100%;
  margin-top: 8px;
  height: 3px;
  background-color: whitesmoke;
  position: absolute;
}

.burger-menu::after {
  content: "";
  width: 100%;
  height: 3px;
  bottom: 1px;
  background-color: whitesmoke;
  position: absolute;
}

.header__header-content__burger-menu {
  margin-left: 4%;
  /* margin-right: 4%; */
  margin-top: 20px;
}


.menu__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.menu__list__item {
  box-sizing: border-box;
  border: 1px solid black;
  /* flex-basis: 12.5%; */
  text-align: center;
  background-color: #2C76A3;
  height: 20px;
  /* vertical-align: text-top; */
}

.menu__list__item_a {
  margin-top: calc(50% - 16px);
  font-family: "OpenSans";
  font-weight: Regular;
  color: whitesmoke;
}

/*main*/

.main {
  background-color: #BDE5FD;
  height: 400px;
}

.content-field {
  background-color: #87CFFA;
  height: 400px;
  width: 80%;
  margin: auto;
}


@media (min-width: 641px) and (max-width: 1200px) {
  .menu__list {
    flex-direction: row;
  
  }

  .header__header-content__burger-menu {
    display: none;
  }

  .menu__list__item {
    flex-basis: 12.5%;
    height: auto;
    border-top: none;
  }

  .body__header__left {
    display: inline-block;
  }

  .body__header__center {
    display: inline-block;
    width: 40%;
    margin: 0;
    box-sizing: border-box;
  }

  .body__header__right {
    display: inline-block;
  }

  .visually-hidden_m {
    display: block;
  } 

}


@media (min-width: 1201px) {
  .menu__list {
    flex-direction: row;
  }

  .header__header-content__burger-menu {
    display: none;
  }

  .menu__list__item {
    flex-basis: 12.5%;
    height: auto;
    border-top: none;
    position: relative;
  }

  .menu__list__item_a {
    z-index: 1;
    position: relative;
  }

  .menu__list__item:hover::before {
    content:'';
    background-color: #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0.4;
    z-index: 0;
  }
  
  .body__header__left {
    display: inline-block;
  }

  .body__header__center {
    display: inline-block;
    width: 40%;
    margin: 0;
    box-sizing: border-box;
  }

  .body__header__right {
    display: inline-block;
  }

  .visually-hidden_m {
    display: block;
  } 
 
}